#ignore everything
*
#whitelist directories
!*/
output
support
!.gitignore
!board/raspberrypi
!board/raspberrypi/**
!package
!package/Config.in
!package/rx
!package/rx/*
!package/ortp
!package/ortp/*
!package/volumio2
!package/volumio2/**
!configs/pistream_defconfig
