#ignore everything
*
#whitelist directories
!*/
output
support
!.gitignore
!board/raspberrypi/overlay/etc
!board/raspberrypi/overlay/etc/**
!package
!package/Config.in
!package/rx
!package/rx/*
!package/ortp
!package/ortp/*
!configs/pistream_defconfig
